.slideProfile{
    position: absolute;
    left: 43%;
    border-style: double;
    width:300px;
    border-radius: 5px;
}
.imgProfile{
    max-height:70%;
    max-width: 100%;
}
.captionText{
    text-shadow: 1px 1px black;
}
@media only screen and (max-width: 600px) {
    .slideProfile{
        left: 20%;
    }
    .imgProfile{
        height:20vh;
        width:30vw;
    }
}